@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.eot');
  src: local('Rubik Bold'), local('Rubik-Bold'),
    url('../fonts/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/Rubik-Bold.woff') format('woff'),
    url('../fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.eot');
  src: local('Rubik Medium'), local('Rubik-Medium'),
    url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff'),
    url('../fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.eot');
  src: local('Rubik Regular'), local('Rubik-Regular'),
    url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff'),
    url('../fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Rubik',
    sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button,
button:hover,
button:active,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

/* Header */
.header {
  background: linear-gradient(180deg, #EFF2FA 0%, rgba(255, 255, 255, 0) 96.57%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.header-container {
  padding: 15px 0;
}

.nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4E5983;
  margin-right: 45px;
}

.nav-link:last-child {
  margin-right: 0;
}

.buttons {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4E5983;
}

.entrance-btn {
  font-weight: normal;
  background: transparent;
  margin-right: 35px;
}

.check-btn {
  font-weight: 500;
  padding: 18px 28px;
  background: rgba(161, 127, 255, 0.11);
  border-radius: 9px;
}

/* Service */
.service {
  background: url(../img/service_bg.png) center no-repeat;
  background-size: cover;
  padding: 113px 0 84px;
  margin-bottom: 85px;
}

.title {
  font-style: normal;
  font-weight: bold;
  line-height: 111.9%;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 42px;
}

.service-container {
  background: rgba(255, 255, 255, 0.8);
  border: 4px solid rgba(247, 248, 253, 0.2);
  margin-top: 53px;
  box-shadow: 0px 50px 1px -30px rgba(255, 255, 255, 0.2), 0px 90px 1px -50px rgba(255, 255, 255, 0.2);
  padding: 78px 85px 78px 107px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.block-title {
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  color: #4E5983;
  margin-bottom: 40px;
}

.amount {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4E5983;
  opacity: 0.5;
  margin-bottom: 20px;
}

.money {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(214, 220, 226, 0.25);
  align-items: center;
}

.number {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #094067;
}

.number span {
  color: #A4AABF;
}

.line {
  display: inline-block;
  width: 0.93px;
  height: 25px;
  background: #CFD4DA;
  margin-left: 80px;
}

.service-icon {
  display: inline-block;
  margin: 0 20px;
}

.currency-btn {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #4E5983;
  background: transparent;
}

.arrow-down {
  margin-left: 10px;
}

.arrows {
  align-self: flex-end;
  margin-bottom: 15px;
}

.block-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #4E5983;
}

.service-button {
  align-self: flex-end;
  background: linear-gradient(163.94deg, #562EC2 29.59%, #A07EFE 73.59%);
  opacity: 0.8;
  border-radius: 9px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 40px;
}

/* About */

.about {
  margin-bottom: 100px;
}

.about-container {
  align-items: flex-start;
}

.about-block {
  max-width: 30%;
}

.about-image {
  display: block;
  width: 180px;
  height: 180px;
  padding: 0 0 40px;
}

.about-title {
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #4E5983;
  margin-bottom: 30px;
}

.about-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 166.5%;
  color: #4E5983;
  opacity: 0.7;
}

/* History */

.history-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
  background: #FFFFFF;
  border: 4px solid #F7F8FD;
  box-sizing: border-box;
  border-radius: 26px;
  padding: 95px 65px;
  margin: 0 auto -275px;
}

.points-up {
  display: block;
  position: absolute;
  left: -7%;
  top: -33%;
  z-index: -1;
}

.points-down {
  position: absolute;
  right: 0;
}

.history-title {
  font-style: normal;
  font-weight: 500;
  line-height: 132.4%;
  color: #160647;
  margin-bottom: 35px;
}

.history-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 166.5%;
  color: #4E5983;
  opacity: 0.7;
}

.history-picture {
  width: 115px;
  height: 115px;
  margin-top: 190px;
}

/* Reserve */

.reserve {
  background: linear-gradient(180deg, #EFF2FA 0%, rgba(255, 255, 255, 0.8) 96.57%);
}

.reserve-title {
  font-style: normal;
  font-weight: 500;
  line-height: 111.9%;
  text-align: center;
  color: #160647;
  margin-bottom: 95px;
  padding-top: 425px;
}

.reserve-container {
  flex-wrap: wrap;
}

.reserve-block {
  display: flex;
  align-items: center;
  width: 25%;
  margin-bottom: 85px;
}

.circle {
  display: inline-block;
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 40px;
}

.reserve-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}

.reserve-texts {
  display: flex;
  flex-direction: column;
}

.reserve-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #A4AABF;
  margin-bottom: 5px;
}

.reserve-number {
  font-style: normal;
  font-weight: normal;
  font-size: 20.5714px;
  line-height: 155.5%;
  color: #160647;
}

/* Exchange */

.exchange {
  width: 100%;
}

.exchange-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  background: url(../img/exchange_bg.png) center no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.exchange-image {
  width: 80%;
  height: 80%;
  margin: -20px 0 0 50px;
}

.exchange-block {
  width: 50%;
}

.exchange-title {
  font-style: normal;
  font-weight: 500;
  line-height: 132.4%;
  color: #FFFFFF;
  margin: 50px 0;
}

.exchange-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 166.5%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 50px;
}

.exchange-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 15.9618px;
  line-height: 19px;
  text-align: center;
  color: #9F7DFD;
  padding: 25px 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10.2611px;
  margin-bottom: 50px;
}

/* Customers */
.customers-container {
  margin-bottom: 100px;
}

.customers-title {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: 132.4%;
  color: #160647;
  margin-bottom: 100px;
}

.customer-blocks {
  display: flex;
}

.customer-block {
  position: relative;
}

.customer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 166%;
  color: #4E5983;
  opacity: 0.7;
  margin-bottom: 58px;
}

.customer-image {
  position: absolute;
  left: -20%;
  top: -50%;
}

.customer-author {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155.5%;
  color: #160647;
  margin-right: 30px;
}

.customer-date {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #838BA8;
}

.customers-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.btn {
  cursor: pointer;
  background: none;
}

.button-left {
  margin-right: 23px;
}

/* Footer */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.footer-nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4E5983;
  margin-right: 65px;
}

.footer-nav-link:last-child {
  margin-right: 0;
}

.social-icons {
  display: inline-block;
}

.social {
  margin-right: 27px;
}

.social:last-child {
  margin-right: 0;
}

.footer-text {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #838BA8;
  margin-top: 24px;
}

@media (max-width: 1200px) {

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
  }

  .nav-link {
    margin-right: 20px;
  }

  .entrance-btn {
    margin-right: 10px;
  }

  .service-container {
    padding: 60px 40px 100px;
  }

  .line {
    margin-left: 20px;
  }

  .arrows {
    margin: 0 20px 15px;
  }

  .service-button {
    padding: 20px 20px;
  }

  .about-image {
    width: 150px;
    height: 150px;
  }

  .history-picture {
    max-width: 70px;
    max-height: 70px;
  }

  .history-image {
    max-width: 400px;
  }

  .reserve-block {
    width: 50%;
  }

  .exchange-image {
    width: 80%;
    height: 80%;
    margin: -40px 0 0 30px;
  }

  .exchange-title {
    margin-bottom: 20px;
  }


  .footer-nav-link {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {

  h1 {
    font-size: 38px;
  }

  h3 {
    font-size: 18px;
  }

  .container {
    width: 90%;
  }

  .header-nav {
    display: none;
  }

  .service-button {
    margin-top: 20px;
    padding: 20px 40px;
  }

  .about-image {
    width: 100px;
    height: 100px;
  }

  .about-text {
    font-size: 14px;
  }

  .history-container {
    flex-direction: column;
    padding: 95px 60px;
  }

  .history-picture {
    margin-top: 20px;
  }

  .footer-nav {
    display: none;
  }

  .footer-text {
    width: 100%;
    display: block;
  }
}

@media (max-width: 768px) {

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  .service {
    padding-top: 50px;
  }

  .subtitle {
    margin-top: 20px;
  }

  .service-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
  }

  .block-title {
    margin-bottom: 10px;
  }

  .amount {
    margin-bottom: 10px;
  }

  .arrows {
    align-self: center;
    margin: 30px 0;
  }

  .service-button {
    margin-top: 0;
    padding: 10px 20px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-block {
    max-width: 80%;
    margin-bottom: 70px;
  }

  .history-container {
    padding: 50px 30px;
  }

  .reserve-title {
    margin-bottom: 70px;
  }

}

@media (max-width: 560px) {

  .container {
    width: 95%;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  .header-container {
    height: auto;
  }

  .buttons {
    margin-top: 20px;
  }

  .entrance-btn,
  .check-btn {
    font-size: 12px;
  }

  .check-btn {
    padding: 5px 20px;
  }

  .subtitle {
    font-size: 12px;
  }

  .about {
    margin: 0;
  }

  .about-block {
    width: 100%;
  }

  .history-text {
    font-size: 12px;
  }

  .points-down {
    display: none;
  }

  .points-up {
    display: none;
  }

  .history-image {
    max-width: 300px;
  }

  .reserve {
    margin-bottom: 50px;
  }

  .reserve-block {
    width: 90%;
    margin: 20px auto;
  }

  .reserve-title {
    margin-bottom: 40px;
  }

  .reserve-text {
    font-size: 14px;
  }

  .reserve-number {
    font-size: 14px;
  }
.exchange-container {
  margin-bottom: 0;
}
  .exchange-image {
    display: none;
  }

  .exchange-block {
    width: 95%;
    margin: auto;
    padding-left: 0;
  }

  .exchange-title {
    padding-right: 0;
  }

  .exchange-btn {
    padding: 15px 30px;
  }

  .customers-title {
    margin: 50px 0;
  }

  .customer-image {
    display: none;
  }

  .social-icons {
    margin-top: 20px;
  }

  .footer-container {
    margin-bottom: 20px;
  }
}